body {
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
div#Container {
    width: 300px;
    border: 1px solid rgb(218, 211, 211);
    background-color: rgb(218, 211, 211);
}

div#Visor {
    width: calc(100% - 16px); /*vai pegar a largura do elemento pai*/
    height: 70px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 50px;
    padding: 8px
}

div#Botoes {
    display: flex;
    flex-wrap: wrap;
    height: 300px;
    gap: 2px;
}

div#Botoes input[type='button'] {
    width: calc((100% - 6px)/4);
    font-size: 16px;
    border: none;
}

#Botoes input.number {
    font-weight: bold;
}

[type=button]:hover {
    filter: brightness(80%);
}

#igualdade {
    background-color: #4ea3d4;
    color: white;
    
}

.active {
    filter: brightness(70%);
}